.login {
    height: 100vh;
    /* background: ; */
    background-size: auto;
}

.login .container-form {
    position: absolute;
    width: 25%;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.login .container-form button {
    height: 2.5rem;
    font-size: 1.1rem;
}
